#root {
  height: 100vh;
  margin: 0;
}

.center{
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.warning {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(249, 249, 182);
  color: red;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  z-index: 1000;
}